<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Add New Bank Transaction</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>

<body>
	<!-- Include _menu.html -->
	<th:block th:include="/menu"></th:block>

	<div class="container">
		<h1>Add a Bank Transaction</h1>
		
		<h1 class="display-4 my-2" th:text ="'Welcome User :' + ${#authentication.getPrincipal().getFirstName()}"></h1> 
		
		User Id : <h1 th:object="${user}" th:text="${ user?.userId }" ></h1>  
		
		User First Name  : <h1 th:object="${user}" th:text="${ user?.firstname }" ></h1>  
		
		<!--


		<form th:action="@{/addTransaction}" th:object="${transactionForm}" method="post">
			Numero :
			<input type="text" th:field="*{numero}" /> 
			Date Bank Transaction : 
			<input type="date" th:field="*{dateTransaction}" />
			Amount:
			<input type="text"th:field="*{amount}" />
			<input type="submit" value="Create" />

		</form>
		
		<br/>
		
		<div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
       </div>
       
       /////////
       
       -->
       
       
		<div
			style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-user"></i> Add New Bank Transaction
				</div>
				<div class="card-block" style="padding: 24px;">
					<form th:action="@{/addBankTransaction}" th:object="${banktransaction}" method="post">
						<fieldset>
						
						
							<input type="hidden" th:value="${user.userId}" name="userId">
							<input type="hidden" th:value="38" name="userId">
							<!--  
							<div class="form-group">
								<select class="custom-select" name="bankaccount">
									<option selected>Select Bank Account </option>
									<option th:each="bankaccount : ${bankAccountList}"
										th:value="${bankaccount.bankaccountId}"
										th:text="${bankaccount.numero}"></option>
								</select>
							</div>
							-->

							<div class="form-group">
								<label for="numero">Numero </label> <input type="number"
									class="form-control" id="numero" name="numero"
									placeholder="NumberTransaction">
							</div>
							<div class="form-group">
								<label for="dateVirement">Date</label> <input type="date"
									class="form-control" id="dateVirement" name="dateVirement"
									placeholder="Date">
							</div>
							<div class="form-group">
								<label for="amount">Solde</label> <input type="number"
									class="form-control" id="amount" name="amount"
									placeholder="Solde">
							</div>
							
							<div class="form-actions" style="margin-top: 12px;">
								<button type="submit" class="btn btn-success">Validate Transaction</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>